In [1]:
import pandas as pd
download = "https://raw.githubusercontent.com/amankharwal/Website-data/master/migration_nz.csv"

In [2]:
df = pd.read_csv(download)
df.head()

    Measure     Country             Citizenship  Year    Value
0  Arrivals     Oceania     New Zealand Citizen  1979  11817.0
1  Arrivals     Oceania      Australian Citizen  1979   4436.0
2  Arrivals     Oceania  Total All Citizenships  1979  19965.0
3  Arrivals  Antarctica     New Zealand Citizen  1979     10.0
4  Arrivals  Antarctica      Australian Citizen  1979      0.0

In [3]:
df.nunique()

Measure           3
Country         253
Citizenship       3
Year             38
Value          3670
dtype: int64

In [4]:
measure_types = df.Measure.value_counts()
measure_types

Arrivals      28842
Departures    28842
Net           28842
Name: Measure, dtype: int64

In [5]:
citizenship_types = df.Citizenship.value_counts()
citizenship_types

New Zealand Citizen       28842
Australian Citizen        28842
Total All Citizenships    28842
Name: Citizenship, dtype: int64

In [6]:
country_types = df.Country.value_counts()
country_types

Oceania              342
US Virgin Islands    342
Puerto Rico          342
Paraguay             342
Suriname             342
                    ...
Greece               342
Croatia              342
Hungary              342
Ireland              342
All countries        342
Name: Country, Length: 253, dtype: int64

In [7]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df.dtypes)

Measure         object
Country         object
Citizenship     object
Year             int64
Value          float64
dtype: object