In [1]:
import pandas as pd
download = "https://raw.githubusercontent.com/amankharwal/Website-data/master/migration_nz.csv"

In [2]:
df = pd.read_csv(download)
df.head()

    Measure     Country             Citizenship  Year    Value
0  Arrivals     Oceania     New Zealand Citizen  1979  11817.0
1  Arrivals     Oceania      Australian Citizen  1979   4436.0
2  Arrivals     Oceania  Total All Citizenships  1979  19965.0
3  Arrivals  Antarctica     New Zealand Citizen  1979     10.0
4  Arrivals  Antarctica      Australian Citizen  1979      0.0